<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) Sportradar AG. See LICENSE for full license governing this code
  -->

<configuration scan="true" scanPeriod="30 seconds">

    <!-- the folder in which the SDK logs will be stored -->
    <property name="MTS_SDK_LOG_FOLDER" value="mts-sdk-logs" />
    <!-- TRACE, DEBUG, INFO, WARN, ERROR, ALL or OFF -->
    <property name="MTS_SDK_LOG_LEVEL" value="info" />

    <!-- the execution log file appender configuration -->
    <appender name="SdkExecutionLogFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- the main/current execution log file -->
        <file>${MTS_SDK_LOG_FOLDER}/mts-sdk.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover
            Once any of the below condition met, it will change the file name as below and compressed it. -->
            <fileNamePattern>${MTS_SDK_LOG_FOLDER}/mts-sdk-%d{yyyy-MM-dd}_%i.log.zip</fileNamePattern>
            <!-- or whenever the file size reaches 10MB -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 7 days' worth of history -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d [%-5level] [%thread] [%logger{32}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- the traffic log file appender configuration -->
    <appender name="SdkTrafficLogFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- the main/current execution log file -->
        <file>${MTS_SDK_LOG_FOLDER}/traffic/mts-sdk-traffic.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover
            Once any of the below condition met, it will change the file name as below and compressed it. -->
            <fileNamePattern>${MTS_SDK_LOG_FOLDER}/traffic/mts-sdk-feed-%d{yyyy-MM-dd}_%i.log.zip</fileNamePattern>
            <!-- or whenever the file size reaches 10MB -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 7 days' worth of history -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d [%-5level] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- the rest traffic log file appender configuration -->
    <appender name="SdkRestTrafficLogFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- the main/current execution log file -->
        <file>${MTS_SDK_LOG_FOLDER}/traffic/mts-sdk-rest.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover
            Once any of the below condition met, it will change the file name as below and compressed it. -->
            <fileNamePattern>${MTS_SDK_LOG_FOLDER}/traffic/mts-sdk-rest-%d{yyyy-MM-dd}_%i.log.zip</fileNamePattern>
            <!-- or whenever the file size reaches 10MB -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 7 days' worth of history -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d [%-5level] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- the console log appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%-5level] [%thread] [%logger{32}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- execution log config assigned to the execution logger -->
    <logger name="com.sportradar.mts.sdk" level="${MTS_SDK_LOG_LEVEL}">
        <appender-ref ref="SdkExecutionLogFileAppender" />
    </logger>

    <!-- log config assigned to the traffic logger -->
    <logger name="com.sportradar.mts.traffic" level="${MTS_SDK_LOG_LEVEL}">
        <appender-ref ref="SdkTrafficLogFileAppender" />
    </logger>

    <!-- log config assigned to the rest logger -->
    <logger name="com.sportradar.mts.rest" level="${MTS_SDK_LOG_LEVEL}">
        <appender-ref ref="SdkRestTrafficLogFileAppender" />
    </logger>

    <!-- all the debug logs will be printed in the console -->
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>